

<div class="container pl-0 pt-5">
  <h5>Change profile picture</h5>

  <%= simple_form_for(user) do |f| %>
    <%= f.input :photo, as: :file  %>
    <%= f.submit class: "button-airbnbike" %>
  <% end %>
</div>
