<div class="container">
  <div class="container">
    <div class="title-form">
      <h1>Please enter information on the bike you wish to propose</h1>
    </div>
  </div>
  <%= render "form", bike_offer: @bike_offer %>
  <%=link_to "See all bike offers", bike_offers_path %>
</div>