<div class="banner">
  <div class="container"><p class="padding-banner">Find the bike you deserve</p>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-info my-2 my-sm-0 mr-2" type="submit">Search</button>
    </form>
  </div>
</div>


<div class="container text-center mt-4 mb-4"><h3>135 available offers</h3>

<%= render 'shared/card' %>

</div>
