.button-airbnbike {
  color: $grey-black;
  background-color: #FFC65A;
  border-color: #FFC65A;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  font-family: "Baloo Tamma 2";
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 0.55rem 3px 0.55rem;
  font-size: 16px;
  line-height: 1.7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-airbnbike:hover {
  color: #212529;
  background-color: #ffb934;
  border-color: #ffb427;
  text-decoration: none;
}

.button-select {
  color: $grey-black;
  border: #FFC65A 1px solid;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  font-family: "Baloo Tamma 2";
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 0.55rem 3px 0.55rem;
  font-size: 16px;
  line-height: 1.7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}