.margintb30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.padding12 {
  padding: 15px 15px 0px 15px;
}

.marginb15 {
  margin-bottom: 15px;
}

.secondarylink {
  text-decoration: none;
  color: #167FFB;
}

.choice-option {
  display: inline-flex;
}

.textcardlarge {
  font-family: "Baloo Tamma 2";
  font-size: 16px;
  color: $grey-black;
}

.no-booking-requests {
  font-style: italic;
  color: #A9A9A9;
}

.booking-declined {
  font-style: italic;
  color: #8B0000;
}

.booking-accepted {
  font-style: italic;
  color: #33c407;
}

.booking-pending {
  font-style: italic;
  color: #FFC65A;
}

.declined-button {
  margin-left: 15px;
  color: $grey-black;
  background-color: #A9A9A9;
  border-color: #A9A9A9;
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  font-family: "Baloo Tamma 2";
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 5px 0.55rem 3px 0.55rem;
  font-size: 16px;
  line-height: 1.7;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.declined-button:hover {
  color: white;
  background-color: #8B0000;
  border-color: #8B0000;
  text-decoration: none;
}

.booking-minicard {
  background-color: #faf9f9;
  padding:15px;
  margin-bottom: 15px;
  border-radius: 4px;

}

